//************************************************************************//
//  Specific styling for the buttons
//
//************************************************************************//
//



// used from the .btn class of the legacy folder
.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s ease-out;
    border: 0;

}