
<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #f79300;"></span>
        <span class="sg-label">
			$brand-primary<br>
            Tangerine <br>
			#f79300
		</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #e30613;"></span>
        <span class="sg-label">
            $color-brand-red  <br>
            Venetian red <br>
			#e30613
		</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #9cbe14;"></span>
        <span class="sg-label">
			$color-brand-green <br>
            Citrus <br>
			#f79300
		</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #177c50;"></span>
        <span class="sg-label">
			$color-brand-green-dark  <br>
            Salem <br>
			#177c50
		</span>
    </li>
</ul>
