<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #000000;"></span>
        <span class="sg-label">
			$color-brand-black <br>
             <br>
			#000000
		</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #a9a5a2;"></span>
        <span class="sg-label">
			$gray-base <br>
             <br>
			#a9a5a2
		</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #d8d8d8 ;"></span>
        <span class="sg-label">
			$gray <br>
             <br>
			#d8d8d8
		</span>
    </li>

    <li>
        <span class="sg-swatch" style="background: #f3efeb;"></span>
        <span class="sg-label">
			$gray-light <br>
             <br>
			#f3efeb
		</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #ffffff;"></span>
        <span class="sg-label">
			$color-brand-white <br>
             <br>
			#ffffff
		</span>
    </li>
</ul>
