<div>Primary font: '', sans-serif;</div>
<div><strong>Primary font bold: '', sans-serif;</strong></div>
<div class="font-secondary">Secondary font: '', Arial, Helvetica, sans-serif</div>
<div class="font-tertiary">Tertiary font: '', Arial, Helvetica, sans-serif;</div>

