<!DOCTYPE html>
<html class="{{ htmlClass }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
    <meta name="application-name" content="site" />

    <meta name="robots" content="index, follow">
    <meta name="msapplication-TileColor" content="#3f382d" />
    <meta name="msapplication-TileImage" content="../asset/images/favicon.ico" />

    <link rel="stylesheet" href="../../../asset/css/site.css">

    <title>{{ pageTitle }}</title>

    <link rel="canonical" href="https://www.wesbite.com/">

    <script rel="preload" as="script" src="../../../asset/javascript/libs.min.js"></script>
    <script rel="preload" as="script" src="../../../asset/javascript/scripts.min.js"></script>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->
</head>
<div id="wrapper" class="wrapper">
<body class="{{ bodyClass }}">

<script>

</script>
